::-webkit-scrollbar /* chrome based */
{ 
	width: 0px;  /* ширина scrollbar'a */
	background: transparent;  /* опционально */
}
body{
	font-family: 'Titillium Web', sans-serif;
	/*font-family: 'Damion', cursive;*/
}
.wrapper{
	width: auto;
}
.header-container{
	background: #87509c;
	height: 598px;
}
.header{
	width: 1100px;
	margin: 0 auto;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 57px 0 0;
	margin: 0 0 145px;
}
.logo{
	background: url(../img/logo.png);
	background-repeat: no-repeat;
	width: 118px;
	height: 37px;
}
.nav-list{
	display: flex;
}
.nav-list li{
	margin: 0 26px 0 0;
}
.nav-list-item a{
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	padding: 9px 17px 9px;
}
.nav-list-item a:hover{
	padding: 9px 17px 9px;
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
	color: #fff;
}


.title{
	font-size: 42px;
	font-weight: bold;
	color: #f7f3ea;
	text-align: center;
	margin: 0 97px 63px;
	line-height: 48px;
	letter-spacing: 1.8px;
}
.ancor-button{
	width: 293px;
	background: #eb7d4b;
	color: #fff;
	font-size: 18px;
	line-height: 26px;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 24px 0;
	border-radius: 4px;
	box-shadow: 0 4px 0 0 rgba(200, 106, 64, 1);
}
.ancor-button:active{
	width: 293px;
	background: #eb7d4b;
	color: #fff;
	font-size: 18px;
	line-height: 26px;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 24px 0;
	border-radius: 4px;
	box-shadow: 0 1px 0 0 rgba(200, 106, 64, 1);
	position: relative;
	top: 3px;
}
/*main-content*/
.services-container{
	background: #17c2a4;
	height: 746px;
}
.services-main{
	width: 1100px;
	margin: 0 auto;
}
.head-container{
	width: 604px;
	margin: 0 auto 83px;
	padding: 120px 0 0;
}
h2.services-head, h2.meet-head,
h2.skills-head, h2.portfolio-head,
h2.about-us-head{
	font-size: 40px;
	font-weight: bold;
	line-height: 30px;
	color: #fff;
	text-align: center;
	margin: 0 0 22px;
	letter-spacing: 3px;
}
.head-bord{
	display: block;
	width: 87px;
	border-bottom: 4px solid rgba(0, 0, 0, 0.2);
	margin: 0 auto 20px;
}
div.services-head, div.meet-head,
div.skills-head, div.portfolio-head,
div.about-us-head{
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 26px;
}
.services-desc{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.services-desc-item{
	text-align: center;
	margin: 0 34px 0;
	align-self: baseline;
}
.services-desc-img{
	margin: 0 auto 63px;
}
.services-desc-h3{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	line-height: 18px;
	margin: 0 0 28px;
}
.services-desc-p{
	font-size: 16px;
	font-weight: lighter;
	color: #fff;
	line-height: 24px;
}
.meet-container{
	background: #e7f1f8;
	height: 913px;
}
.meet-main{
	width: 1100px;
	margin: 0 auto;
}
h2.meet-color, div.meet-color{
	color: #3c4761;
}
.meet-desc{
	display: flex;
	margin: 0 33px;
}
.meet-img{
	background: url(../img/Base.png);
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	margin: 0 auto 41px;
}
.meet-desc-name{
	font-size: 24px;
	line-height: 18px;
	color: #27283d;
	font-weight: bold;
	margin: 0 0 15px;
	text-align: center;
}
.meet-desc-span{
	display: block;
	font-size: 16px;
	line-height: 18px;
	color: #30bae7;
	margin: 0 0 26px;
	text-align: center;
}
.meet-desc-p{
	font-size: 16px;
	line-height: 24px;
	font-weight: lighter;
	color: #3c4761;
	margin: 0 0 31px 0;
	text-align: center;
}
.meet-list{
	text-align: center;
}
.meet-list li{
	background: rgba(60, 71, 97, 0.26) no-repeat;
	display: inline-block;
	border-radius: 17px;
	margin: 0 12px 0 0;
}
.facebook-img{
	background: url(../img/Facebook-Icon.png) no-repeat;
	width: 8px;
	height: 16px;
}
.facebook{
	padding: 8px 13px;
	width: 34px;
	height: 32px;
	display: inline-block;
}
.twitter-img{
	background: url(../img/Twitter-Icon.png) no-repeat;
	width: 17px;
	height: 14px;
}
.twitter{
	padding: 10px 10px;
	width: 34px;
	height: 32px;
	display: inline-block;
}
.linkedin-img{
	background: url(../img/LinkedIn-Icon.png) no-repeat;
	width: 16px;
	height: 16px;
}
.linkedin{
	padding: 8px 9px;
	width: 34px;
	height: 32px;
	display: inline-block;
}
.mail-img{
	background: url(../img/Mail-Icon.png) no-repeat;
	width: 16px;
	height: 12px;
}
.mail{
	padding: 11px 9px;
	width: 34px;
	height: 32px;
	display: inline-block;
}
.skills-container{
	background: #fff;
	height: 658px;
}
.skills-main{
	width: 1100px;
	margin: 0 auto;
}
.skills-desc{
	display: flex;
	margin: 0 50px;
}
.skills-desc-item {
	flex-grow: 1;
}
.skills-img{
	background: url(../img/Progress.png) no-repeat;
	width: 160px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 32px;
}
p.skills-img-percent{
	font-size: 50px;
	line-height: 21px;
	font-weight: lighter;
	color: #3c4761;
}
span.skills-img-percent{
	font-size: 32px;
}
.skills-desc-name{
	font-size: 24px;
	line-height: 18px;
	font-weight: bold;
	color: #3c4761;
	text-align: center;
}
.img-sec{
	background: url(../img/Progress1.png) no-repeat;
}
.img-thi{
	background: url(../img/Progress2.png) no-repeat;
}
.img-fou{
	background: url(../img/Progress3.png) no-repeat;
}
.portfolio-container{
	background: #ffdd99;
	height: 1423px;
}
.portfolio-main{
	width: 1100px;
	margin: 0 auto;
}
h2.portfolio-color, div.portfolio-color{
	color: #393939;
}
.portfolio-list{
	display: flex;
	justify-content: center;
	margin: 0 0 77px;
}
.portfolio-list-item{
	margin: 0 5px;
}
.portfolio-ancor{
	background: rgba(0, 0, 0, .1);
	border-radius: 4px;
	padding: 12px 27px;
	font-size: 18px;
	color: #393939;
}
.portfolio-ancor:hover{
	background: rgb(255, 255, 255);
	border-radius: 4px;
	padding: 12px 27px;
	font-size: 18px;
	color: #393939;
}
.portfolio-deck-main{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}
.portfolio-item{
	margin: 0 0 64px;
}
.portfolio-item:nth-child(3), 
.portfolio-item:nth-child(4){
	margin: 0 0 83px;
}
.portfolio-img-one{
	background: url(../img/notebook1.png) no-repeat;
	width: 541px;
	height: 311px;
	margin: 0 18px 28px 0;
}
.portfolio-img-two{
	background: url(../img/notebook2.png) no-repeat;
	width: 541px;
	height: 311px;
	margin: 0 0 28px;
}
.portfolio-img-three{
	background: url(../img/notebook3.png) no-repeat;
	width: 541px;
	height: 311px;
	margin: 0 18px 28px 0;
}
.portfolio-img-four{
	background: url(../img/notebook4.png) no-repeat;
	width: 541px;
	height: 311px;
	margin: 0 0 28px;
}
.portfolio-desk{
	font-size: 18px;
	line-height: 20px;
	color: #393939;
	text-transform: uppercase;
	text-align: center;
}
.load-more{
	background: #17c2a4;
	box-shadow: 0 4px 0 0 rgba(20, 165, 140, 1);
}
.load-more:active{
	width: 293px;
	background: #17c2a4;
	color: #fff;
	font-size: 18px;
	line-height: 26px;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 24px 0;
	border-radius: 4px;
	box-shadow: 0 1px 0 0 rgba(20, 165, 140, 1);
	position: relative;
	top: 3px;
}
.about-us-container{
	background: #d74680;
	height: 895px;
}
.about-us-main{
	width: 1100px;
	margin: 0 auto;
}
/* .about-us-desc{
	display: flex;
	flex-wrap: wrap;

} */
.first-item-block{
	display: flex;
}
.about-us-desc-item{
	margin: 0 95px 0 0;
   display: flex;
	flex: 1 1;
}
.about-us-desc-item:nth-child(2){
	margin: 0 0 147px 0;
}
.about-us-desc-item-four{
	display: flex;
	flex: 1 1;
}
.about-us-img{
	background: url(/img/Base-2.png) no-repeat;
	min-width: 96px;
	height: 96px;
	margin: 0 48px 0 0;
}
.about-us-desc-p{
	font-style: italic;
	font-size: 21px;
	line-height: 31px;
	color: #fff;
	margin: 0 0 28px;
}
.about-us-desc-name{
	font-size: 24px;
	font-weight: bold;
	line-height: 26px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 10px;
}
.about-us-desc-span{
	font-size: 18px;
	line-height: 26px;
	color: #ffdd99;
}
.get-container{
	background: #3c5499;
	height: 818px;
}
.get-main{
	width: 1100px;
	margin: 0 auto;
}
.get{
	width: 100%;
}
.get-form{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.get-input-text, .get-input-email{
	min-width: 414px;
	background: #273a71;
	padding: 22px 0 22px 25px;
	border: 0;
	border-radius: 4px;
	font-size: 18px;
	color: #fff;
	margin: 0 0 27px;
}
.get-input-text:first-child{
	margin: 0 32px 27px 0;
}
.get-input-text::placeholder,
.get-input-email::placeholder,
.get-input-textarea::placeholder{
	color: #fff;
	font-size: 18px;
	font-family: 'Titillium Web', sans-serif;
}
.get-input-textarea{
	background: #273a71;
	padding: 24px 0 0 25px;
	border: 0;
	border-radius: 4px;
	width: 100%;
	margin: 0 120px 59px;
	color: #fff;
	font-size: 18px;
	resize: none;
}
.get-btn{
	width: 293px;
	background: #30bae7;
	color: #fff;
	font-size: 18px;
	line-height: 26px;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 24px 0;
	border-radius: 4px;
	border: none;
	box-shadow: 0 4px 0 0 rgba(41, 158, 197, 1);
}
.get-btn:active{
	width: 293px;
	background: #30bae7;
	color: #fff;
	font-size: 18px;
	line-height: 26px;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 24px 0;
	border-radius: 4px;
	box-shadow: 0 1px 0 0 rgba(41, 158, 197, 1);
	position: relative;
	top: 3px;
}
.footer-container{
	background: #344b8e;
	height: 112px;
	border-top: 3px solid rgba(255, 255, 255, .2);
	padding: 48px 0 0;
}
.footer-main{
	width: 1100px;
	margin: 0 auto;
}
.footer-nav-list{
	text-align: center;
}
.footer-nav-list-item{
	display: inline-block;
	margin: 0 55px 0 0;
}
.footer-nav-list-ancor{
	font-size: 24px;
	line-height: 30px;
	color: #fff;
}
.footer-nav-list-ancor:hover{
	font-size: 24px;
	line-height: 30px;
	color: #30bae7;
}